@page "/Test"

<h3>Test</h3>

<div class="row">
    <div class= "col-6">
        <Counter StartingValue="5" PageHeader="Calling From Test Component"></Counter>
    </div>
    <div class= "col-6">
        <Counter StartingValue="10" PageHeader="Another Instance of Counter Component"></Counter>
    </div>
</div>


